# Ignore frontend files completely from language stats

# Django structure
templates/** linguist-detectable=false
static/** linguist-detectable=false

# Extra safety (any loose files)
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
